logicapp/logicapp.json
{
    "$connections": {
        "value": {
            "azureblob": {
                "connectionId": "/subscriptions/{your tenant id}/resourceGroups/fwdug-dougv/providers/Microsoft.Web/connections/azureblob",
                "connectionName": "azureblob",
                "id": "/subscriptions/{your tenant id}/providers/Microsoft.Web/locations/southcentralus/managedApis/azureblob"
            },
            "twitter": {
                "connectionId": "/subscriptions/{your tenant id}/resourceGroups/fwdug-dougv/providers/Microsoft.Web/connections/twitter",
                "connectionName": "twitter",
                "id": "/subscriptions/{your tenant id}/providers/Microsoft.Web/locations/southcentralus/managedApis/twitter"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Create_blob": {
                                "inputs": {
                                    "body": "@body('HTTP')",
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/datasets/default/files",
                                    "queries": {
                                        "folderPath": "upload/",
                                        "name": "@variables('imageName')"
                                    }
                                },
                                "runAfter": {
                                    "HTTP": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "HTTP": {
                                "inputs": {
                                    "method": "GET",
                                    "uri": "@items('For_each')"
                                },
                                "runAfter": {
                                    "Set_variable": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "Set_variable": {
                                "inputs": {
                                    "name": "imageName",
                                    "value": "@{last(split(items('For_each'), '/'))}"
                                },
                                "runAfter": {},
                                "type": "SetVariable"
                            }
                        },
                        "expression": "@endswith(items('For_each'), '.jpg')",
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@triggerBody()?['MediaUrls']",
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "imageName",
                            "type": "String",
                            "value": "@{concat(guid(), '.jpg')}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_tweet_is_posted": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/onnewtweet",
                    "queries": {
                        "searchQuery": "#fwdnug"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    }
}